/* Breakpoints */
$bp-xs: 375px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1200px;
$bp-xxl: 1440px;
$max-content-width: 1168px;

/* Colors */
$color-primary: #714eff;
$color-black: #000;
$color-gray: rgba(60, 60, 67, 0.8);
$color-lightgray: rgba(60, 60, 67, 0.5);
$color-bg: #fff;
$color-error: #ff6363;
$color-success: #81b24f;
$mid-grey: rgb(221, 225, 232);

/* Background */
$bg-blue: #f2f2f7;

/// Container's maximum width
$max-width: 1180px;

/// Base font size
$big: 42px;
$small: 22px;
$superSmall: 16px;

/// Medium grey
$mid-grey: rgb(221, 225, 232);

/// Border radius size
$border-radius: 6px;

/// White
$white: rgb(255, 255, 255);

/// Dark grey
$dark-grey: rgb(68, 68, 68);
